{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "quotes": [1, "single"]
  },
  "extends": [
    "react",
    "airbnb-base"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
